Repository Mityuha/sugaru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, isort, black, mypy, ruff, sort-all

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: docformatter
        name: docformatter 
        description: "Formats docstrings to follow PEP8 and PEP257."
        language: system
        entry: poetry run docformatter
        types: [python]
      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]
      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        require_serial: true
        exclude: examples
      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff
        types: [python]
        exclude: examples
      - id: sort-all
        name: sort-all
        stages: [commit]
        language: system
        entry: poetry run sort-all
        types: [python]
        exclude: examples

fix sugarator interface
  sugaru/__main__.py
  sugaru/interfaces.py
  sugaru/sugarator.py
  sugaru/utils/encode_decode.py
  tests/sugarator/conftest.py
Due: docformatter, isort, black, mypy, ruff, sort-all

some refactoring
  sugaru/__main__.py
  sugaru/utils/__init__.py
  sugaru/utils/object_loading.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix
  sugaru/utils/object_loading.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix annotations
  sugaru/__init__.py
  tests/file_loader/test_simple_json_loader.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix typing for versions < 3.9
  sugaru/types.py
  sugaru/utils/names_and_types.py
Due: docformatter, isort, black, mypy, ruff, sort-all

ready for tests
  poetry.lock
  pyproject.toml
Due: none

ci for github
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Due: none

add typing extensions
  poetry.lock
  pyproject.toml
Due: none

import Final depending on python version
  sugaru/__main__.py
  sugaru/file_loader/__init__.py
  sugaru/file_loader/simple_yaml/loader.py
  sugaru/file_writer/__init__.py
  sugaru/utils/__init__.py
Due: docformatter, isort, black, mypy, ruff, sort-all

import protocol depending on version
  sugaru/interfaces.py
Due: docformatter, isort, black, mypy, ruff, sort-all

some debug
  tests/object_loader/conftest.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix tests for python 3.7
  tests/sugarator/conftest.py
  tests/utils/test_check_object_signature.py
Due: docformatter, isort, black, mypy, ruff, sort-all

attempt to try importlib-metadata
  pyproject.toml
Due: none

print exception
  sugaru/object_loader/module_loader.py
Due: docformatter, isort, black, mypy, ruff, sort-all

one more attempt to run it
  tests/object_loader/conftest.py
Due: docformatter, isort, black, mypy, ruff, sort-all

Create LICENSE
  LICENSE
Due: none

invalidate_caches solved the problem off
  sugaru/object_loader/module_loader.py
  tests/object_loader/conftest.py
Due: docformatter, isort, black, mypy, ruff, sort-all

small fixes
  sugaru/__main__.py
  sugaru/object_loader/simple_loader.py
  sugaru/utils/names_and_types.py
  sugaru/utils/signature.py
Due: docformatter, isort, black, mypy, ruff, sort-all

add simple example
  examples/gitlab_vault_premium/.expected-gitlab-ci.yml
  examples/gitlab_vault_premium/.your-gitlab-ci.yml
  examples/gitlab_vault_premium/vault.py
Due: docformatter, isort, black

plugin signature is really flexible now
  sugaru/types.py
  sugaru/utils/signature.py
  tests/object_loader/conftest.py
  tests/object_loader/test_check_plugin_signatures.py
Due: docformatter, isort, black, mypy, ruff, sort-all

test various plugin signatures
  tests/plugin_executor/test_various_plugin_signatures.py
Due: docformatter, isort, black, mypy, ruff, sort-all

section is anything at all
  sugaru/plugin_executor/executor.py
  sugaru/types.py
  sugaru/utils/__init__.py
  sugaru/utils/encode_decode.py
  sugaru/utils/names_and_types.py
  sugaru/utils/object_loading.py
  sugaru/utils/signature.py
Due: docformatter, isort, black, mypy, ruff, sort-all

update plugin
  examples/gitlab_vault_premium/vault.py
Due: docformatter, isort, black

fix test
  tests/sugarator/test_sugarator.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix for 3.7
  sugaru/types.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix note message
  sugaru/utils/signature.py
Due: docformatter, isort, black, mypy, ruff, sort-all

add logging
  sugaru/__main__.py
  sugaru/logging.py
Due: docformatter, isort, black, mypy, ruff, sort-all

one more example
  examples/helm_values/helm_values.py
  examples/helm_values/values.yaml
Due: docformatter, isort, black

fix example
  examples/gitlab_vault_premium/vault.py
Due: docformatter, isort, black

json 2 yaml example
  examples/json_2_yaml/my.json
  examples/json_2_yaml/random_person.py
Due: docformatter, isort, black

fix error message
  examples/json_2_yaml/random_person.py
Due: docformatter, isort, black

rename
  examples/json_random/my.json
  examples/json_random/random_person.py
Due: docformatter, isort, black

add toml examples
  examples/toml_examples/my.toml
  examples/toml_examples/servers.py
  examples/toml_examples/toml_utils.py
Due: docformatter, isort, black

module not found message detail
  sugaru/object_loader/module_loader.py
Due: docformatter, isort, black, mypy, ruff, sort-all

fix keyerror
  sugaru/__main__.py
Due: docformatter, isort, black, mypy, ruff, sort-all

README for vault premium
  examples/gitlab_vault_premium/README.md
Due: none

Delete .expected-gitlab-ci.yml
  examples/gitlab_vault_premium/.expected-gitlab-ci.yml
Due: none

README for your helm syntax
  examples/helm_values/README.md
Due: none

README for json sed
  examples/json_random/README.md
Due: none

README for toml example
  examples/toml_examples/README.md
Due: none
