Repository Mityuha/sugaru: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, isort, black, mypy, ruff, sort-all

docformatter:
  name: docformatter
  description: Formats docstrings to follow PEP8 and PEP257.
  language: system
  entry: poetry run docformatter

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff

sort-all:
  name: sort-all
  stages:
  - commit
  language: system
  entry: poetry run sort-all

Update README.md
  README.md
Due: none

quickstart example
  examples/quickstart/.my-gitlab-ci.yml
  examples/quickstart/python_tests.py
Due: docformatter, isort, black

remove type-check parameter for now
  sugaru/__main__.py
Due: docformatter, isort, black, mypy, ruff, sort-all

upgrade version
  pyproject.toml
Due: none

update version
  pyproject.toml
Due: none

add yaml
  poetry.lock
  pyproject.toml
Due: none

update readme, dependencies section
  README.md
Due: none

fix again
  pyproject.toml
Due: none

up version
  pyproject.toml
Due: none

Path conditions:
  docformatter: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  mypy: any of: \.py$, but not: examples
  ruff: any of: \.py$, but not: examples
  sort-all: any of: \.py$, but not: examples
